.navbar-hamburger__button.visible {
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-hamburger__icon {
    color: var(--white);
    font-size: 25px;
}

.navbar-menu__overlay.visible {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--main-background-opacity);
}

.navbar-list__wrapper.opened {
    display: flex;
    margin-top: 60px;
    width: 300px;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    background: var(--main-background);
    height: 100vh;
    z-index: 2;
}

.navbar-list__close-icon {
    cursor: pointer;
    align-self: flex-end;
    font-size: 20px;
    color: var(--white);
}

.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: var(--white);
    margin-top: 100px;
    padding: 0 20px;
}

.navbar-list li {
    text-align: center;
}

.hidden {
    display: none;
}