.view-switch {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 15px 0;
    align-items: center;
}

.view-switch .total-results {
    color: var(--main-background);
    font-weight: 400;
    font-size: smaller;
}