.infographic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
}

h5 {
  font-size: 15px;
  padding-right: 5px;
}
span {
}

.infographic-amount {
  font-size: 16px;
  color: #f35c7f;
}
