.react-calendar-timeline .rct-header-root {
  background: #eae9e9;
  border-bottom: 1px solid #bbb;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: #2f2f2f;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  z-index: 1;
}

.holidayNO {
  background: rgb(245, 212, 166);
}

.holidaySE {
  background: rgb(244, 171, 159);
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: #f5d1d7;
}

.consultant-details__link {
  display: inline-block;
  color: #2f2f2f;
  text-decoration: none;
  width: 100%;
}

.consultant-details__link:hover {
  text-decoration: underline;
  color: var(--text-blue);
}

.gantt-chart__wrapper {
  box-shadow:
    rgba(17, 17, 26, 0.2) 0 4px 16px,
    rgba(17, 17, 26, 0.05) 0 8px 32px;
  position: relative;
}

.gantt-chart__no-data {
  padding: 10px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
