.react-calendar-timeline .rct-header-root {
  background: #575957;
  border-bottom: 1px solid #bbb;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  z-index: 1;
}

.holidayNO {
  background: rgb(245, 212, 166);
}

.holidaySE {
  background: rgb(244, 171, 159);
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: #f5d1d7;
}

.consultant-details__link {
  display: inline-block;
  color: #2f2f2f;
  text-decoration: none;
  width: 100%;
}

.consultant-details__link:hover {
  text-decoration: underline;
  color: var(--text-blue);
}

.gantt-chart__wrapper {
  box-shadow: rgba(17, 17, 26, 0.2) 0 4px 16px,
    rgba(17, 17, 26, 0.05) 0 8px 32px;
    position: relative;
}

.show {
  display: flex;
}

.hide {
  display: none;
}