.title {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
}
.title.active {
  background: #0f2d45;
  color: white;
}

.title:hover {
  background-color: #081926;
  transition: 0.3s;
}
