.personal-data__container{
    display: flex;
    gap: 30px;
}

.personal-data__info:nth-child(n) div{
    display: flex;
    flex-direction: column;
}

.personal-data__info, .personal-data__statistics{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.personal-data__statistics:nth-child(n) div.personal-data_statistics__content{
    display: flex;
    gap: 5px;
    align-items: baseline;
    flex-direction: column;
}

.personal-data__statistics:nth-child(n) div.personal-data_statistics__content div{
    display: flex;
    gap: 10px;
}

.personal-data_statistics-days {
    display: flex;
    margin-bottom: 5px;
    gap: 30px;
}

.personal-data_statistics-days:nth-child(n) *{
    width: 100%;
    white-space: nowrap;
}

.personal-data_statistics-days h4{
    min-width: 85px;
}

.personal-data__statistics-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
}

.personal-data_statistics__content{
    display: flex;
}