.dashboard-wrapper {
    min-height: 100vh;
    width: 80%;
    margin: 100px auto 20px auto;
}

@media screen and (max-width: 600px) {
    .dashboard-wrapper {
        width: 100%;
    }
}

@media screen and (width >= 601px) and (width <= 1200px) {
    .dashboard-wrapper {
        width: 90%;
    }
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.button-scroll-up{
    position: fixed;
    bottom: 100px;
    right: 20px;
    outline: none;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    width: 35px;
    height: 35px;
    transition: 0.5s;
}
.button-scroll-up:hover{
    border: 2px solid  rgba(64, 122, 218, 1);
    color: rgba(64, 122, 218, 1);
    transition: 0.5s;
}

.button-scroll-up.hidden{
    display: none;
}