.dashboard-infographic__card {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table-head{

}

.icon-wrapper{
    height: 100px;
    width: 100px;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
}