.tooltip__container{
    /* background: #fff; */
    background: red;
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 200;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}