.status-indicator__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-indicator {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.status-indicator.active {
    background: var(--text-green);
}

.status-indicator.absence {
    background: var(--text-yellow);
}

.status-indicator.inactive {
    background: var(--main-background);
}