
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.header-name__container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-name__form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}
.header-name__form input{
    font-family: "Roboto Mono", monospace;
}

.header-name__edit {
    cursor: pointer;
}

.MuiInputBase-root.Mui-disabled:before {
    border-bottom-style: hidden;
}