.infographic-container {
    display: flex;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    padding: 35px 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.infographic-container.blue {
    /*background-color: var(--light-blue);*/
    /*color: var(--text-blue);*/
    color: var(--white);
    background-image: linear-gradient(90deg, rgba(56, 72, 101, 1) 0%, rgba(64, 122, 218, 1) 100%);
}

.infographic-container.green {
    /*background-color: var(--light-green);*/
    /*color: var(--text-green);*/
    color: var(--white);
    background-image: linear-gradient(90deg, rgba(17, 108, 83, 1) 0%, rgba(45, 203, 114, 1) 100%);
}

.infographic-container.yellow {
    /*background-color: var(--light-yellow);*/
    /*color: var(--text-yellow);*/
    background-image: linear-gradient(90deg, rgba(188, 116, 24, 1) 0%, rgba(246, 176, 76, 1) 100%);
    color: var(--white);
}

.infographic-container.violet {
    /*background-color: var(--light-violet);*/
    /*color: var(--text-violet);*/
    color: var(--white);
    background-image: linear-gradient(90deg, rgba(99, 42, 76, 1) 0%, rgba(242, 3, 146, 1) 100%);
}

.infographic-container h5 {
    font-size: 15px;
    font-weight: 500;
    width: 100px;
}

.infographic-container span {
    font-size: 30px;
    font-weight: 600;
}
