.basic-info-header__container{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    align-items: center;
}

.basic-info-header__wrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 5px;
}