.navbar-container{
    position: fixed;
    top: 0;
    z-index: 3;
    background: var(--main-background);
    width: 100%;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -15px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}