.hero-container{
    padding-bottom: 25px;
}

.hero-header{
    text-align: center;
    font-weight: 600;
    font-size: 51px;
    color: #0F2D45;
    /* letter-spacing: 3px; */
    /* text-shadow: 2px 2px 5px gray; */
}