.basic-info__data {
  display: flex;
  gap: 10px;
  width: 70%;
  border: 1.5px solid #fc7861cb;
  border-radius: 5px;
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fc7861cb;
  -webkit-text-fill-color: black;
}

.basic-info__wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  gap: 15px;
}

.basic-info__data .MuiInputBase-root {
  font-size: large;
  font-weight: 500;
}

.basic-info__data .MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: black;
}

.basic-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: start;
  border-radius: 50%;
}

.show {
  display: flex;
  border: 1.5px solid #0f2d45;
  border-radius: 5px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hide {
  display: none;
  border: 1.5px solid #0f2d45;
  border-radius: 5px;
}

.close_button {
  color: #fff;
  background-color: rgb(252, 121, 97);
  border-radius: 25px;
  height: 24px;
  width: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1px;
  margin-left: 10px;
  border: none;
}

.close_button:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.278);
}
