.basic-info__data {
    display: flex;
    gap: 10px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
    border: 1.5px solid #fc7861cb;
    border-radius: 5px;
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #fc7861cb;
    /* background-color: #fc7861cb; */
    -webkit-text-fill-color: black;
}

.css-11yukd5-MuiTabs-indicator {
    /* background-color: #fc7861cb; */
}

.basic-info__wrapper {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    gap: 15px;
    
}

.basic-info__data .MuiInputBase-root {
    font-size: large;
    font-weight: 500;
}

.basic-info__data .MuiInputBase-input.Mui-disabled {
    -webkit-text-fill-color: black;
}

.basic-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: start;
    border-radius: 50%;
}

.show {
    display: flex;
    border: 1.5px solid #fc7861cb;
}

.hide {
    display: none;
    border: 1.5px solid #fc7861cb;
}