.filter-section__title {
    padding: 0 10px;
}

.filter-fieldset {
    border: none;
    padding: 20px 10px;
    border-radius: 5px;
    position: relative;
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.filter-by__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.filter-by__wrapper label, .filter-by__wrapper input[type="radio"] {
    cursor: pointer;
}

.MuiFormControl-root.filter-text__input{
    width: 215px;
}

.filter-text__input:focus {
    border: 2px solid #0d6eff;
}

.filter-text__input::placeholder {
    font-size: 10px;
}

.filter-status__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

/*.clear-filter__button {*/
/*    width: 200px;*/
/*    background: #759bfb;*/
/*    border: 1px solid navy;*/
/*    color: navy;*/
/*    border-radius: 15px;*/
/*    cursor: pointer;*/
/*}*/


